<template id="tpo-core-name">
  <style>
    :host {
      display: flex;
      flex-direction: column;
    }

    section {
      display: flex;
      align-items: center;
    }

    .spacer {
      flex: 1;
    }
  </style>
  <section>
    <h2>Name</h2>
    <span class="spacer"></span>
    <button id="toggle">edit</button>
  </section>
  <section>
    <h4>Full Name</h4>
    <input id="name" type="text"/>
  </section>
  <section>
    <span class="spacer"></span>
    <tpo-edit-bar id="edit-bar"></tpo-edit-bar>
  </section>

</template>
